{% extends 'base.html' %}
{% load static %}
{% block title %} Главная {% endblock %}
{% block content %}

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
          <div class="container carousel-content">
        <div class="row">
          <div class="col-6">
            <p class="text-center main-heading" style="font-size: 80px">
              Dog's Heart
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p class="text-center main-heading" style="font-size: 25px; font-style: italic">
              Собачье сердце
            </p>
          </div>
        </div>
    </div>
    <div class="carousel-item active" data-bs-interval="4000">
      <img src="{% static 'img/carousel/first_slide.png' %}" class="d-block w-300" alt="Dogs">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="{% static 'img/carousel/second_slide.png' %}" class="d-block w-300" alt="Dogs">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="{% static 'img/carousel/third_slide.png' %}" class="d-block w-300" alt="Dogs">
    </div>
      <div class="carousel-item" data-bs-interval="4000">
      <img src="{% static 'img/carousel/fourth_slide.png' %}" class="d-block w-300" alt="Dogs">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="{% static 'img/carousel/fifth_slide.png' %}" class="d-block w-300" alt="Dogs">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="{% static 'img/carousel/sixth_slide.png' %}" class="d-block w-300" alt="Dogs">
    </div>
  </div>
</div>

<section>
  <div class="container">
        <div class="row justify-content-center">
      <div class="col-9 text-center" style="font-size: 25px">
        <b class="main-color">Dog's heart</b> - сайт для тех, кто очень хочет завести собаку, но не может решиться. Мы собрали всю необходимую информацию о породах собак, и готовы ей поделиться.
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
        <div class="row justify-content-center align-items-center">
      <div class="col-4 main-color" style="font-size: 30px">
        <b>Хотите завести собаку?</b>
      </div>
      <div class="col-2">
        <a href="#" class="btn btn-primary"><b>Рекомендации</b></a>
      </div>
    </div>
  </div>
</section>

<section>
      <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 main-color">Что я могу здесь найти?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h2>Всё о породах</h2>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="btn btn-primary">
            Перейти
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <h2>Статьи о собаках</h2>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="btn btn-primary">
            Перейти
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
        </div>
        <div>
          <h2>Общение с кинологом</h2>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="btn btn-primary">
            Перейти
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
      <div class="container">
        <div class="row">
      <div class="col main-color align-self-end">
            <figure class="text-end">
          <blockquote class="blockquote main-color">
            <b><p>Мы в ответе за тех, кого приручили</p></b>
          </blockquote>
          <figcaption class="blockquote-footer">
            Антуан де Сент-Экзюпери
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

</section>
{% endblock %}