{% extends 'base.html' %}
{% load static %}
{% block title %} Главная {% endblock %}
{% block content %}

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
          <div class="container carousel-content">
        <div class="row">
          <div class="col-6">
            <p class="text-center main-heading" style="font-size: 80px">
              Dog's Heart
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p class="text-center main-heading" style="font-size: 25px; font-style: italic">
              Собачье сердце
            </p>
          </div>
        </div>
    </div>
    <div class="carousel-item active" data-bs-interval="4000">
      <img src="{% static 'img/carousel/first_slide.png' %}" class="d-block w-300" alt="Dogs">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="{% static 'img/carousel/second_slide.png' %}" class="d-block w-300" alt="Dogs">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="{% static 'img/carousel/third_slide.png' %}" class="d-block w-300" alt="Dogs">
    </div>
      <div class="carousel-item" data-bs-interval="4000">
      <img src="{% static 'img/carousel/fourth_slide.png' %}" class="d-block w-300" alt="Dogs">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="{% static 'img/carousel/fifth_slide.png' %}" class="d-block w-300" alt="Dogs">
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="{% static 'img/carousel/sixth_slide.png' %}" class="d-block w-300" alt="Dogs">
    </div>
  </div>
</div>

<section>
  <div class="container">
        <div class="row justify-content-center">
      <div class="col-9 text-center" style="font-size: 25px">
        <b class="main-color">Dog's heart</b> - сайт для тех, кто очень хочет завести собаку, но не может решиться. Мы собрали всю необходимую информацию о породах собак, и готовы ей поделиться.
      </div>
    </div>
  </div>
</section>

<section>
    <br><br>
  <div class="container">
        <div class="row justify-content-center align-items-center">
      <div class="col-4 main-color" style="font-size: 30px">
        <b>Хотите завести собаку?</b>
      </div>
      <div class="col-2">
        <a href="#" class="btn btn-primary"><b>Рекомендации</b></a>
      </div>
    </div>
  </div>
</section>

<section>
      <div class="container px-4 py-5">
    <h2 class="pb-2 main-color">Что я могу здесь найти?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square flex-shrink-0 me-3">
            <img src="{% static 'img/icons_svg/dog.svg' %}" alt="icon" width="50px" height="50px">
        </div>
        <div>
          <h2>Всё о породах</h2>
          <p>Мы подготовили статьи о нескольких наиболее популярных породах, содержащие информацию об индивидуальностях, характерах, потребностях и стоимостях различных собак.</p>
          <a href="{% url 'articles:breed_list' %}" class="btn btn-primary">
            Перейти
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square flex-shrink-0 me-3">
          <img src="{% static 'img/icons_svg/paw.svg' %}" alt="icon" width="50px" height="50px">
        </div>
        <div>
          <h2>Статьи о собаках</h2>
          <p>На сайте вы можете найти несколько полезных статей о содержании собак. Например, статьи о дрессировке, игрушках и кормах. Как помочь собаке в жару? Читайте нашу статью!</p>
          <a href="{% url 'articles:article_list' %}" class="btn btn-primary">
            Перейти
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square flex-shrink-0 me-3">
          <img src="{% static 'img/icons_svg/cynologist.svg' %}" alt="icon" width="50px" height="50px">
        </div>
        <div>
          <h2>Общение с кинологом</h2>
          <p>Если у вас есть вопросы, вы можете написать нам и узнать всё, что вас интересует. Опытные кинологи ответят и помогут принять решение или решить проблему.</p>
          <a href="#" class="btn btn-primary">
            Перейти
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
    <div class="container px-4">
        <h2 class="pb-2 main-color">Вы кинолог?</h2>
        <p class="py-5" style="font-size: 25px">&nbsp;&nbsp;&nbsp;&nbsp;Напишите нам на адрес <u>dogsheart@mail.ru</u> указав свой логин и прикрепив диплом об образовании. У вашего профиля появится статус кинолога и вы сможете отвечать на вопросы пользователей. Если вы будете достаточно активны и давать полезные советы, мы предложим вам стать участником команды <b class="main-color">Dog's heart</b> на коммерческой основе.</p>
    </div>
</section>

<section>
    <div class="container px-4">
        <h2 class="pb-2 main-color">Остались вопросы?</h2>
        <p class="py-5" style="font-size: 25px">&nbsp;&nbsp;&nbsp;&nbsp;Если вам есть чем поделиться (возможные способы улучшить сайт, жалобы на работу кинологов или технические вопросы), вы можете написать нам на адрес <u>dogsheart@mail.ru</u> и сообщить о том, что вас волнует.</p>
    </div>
</section>

<section>
      <div class="container">
        <div class="row">
      <div class="col main-color align-self-end">
            <figure class="text-end">
          <blockquote class="blockquote main-color">
            <b><p>Мы в ответе за тех, кого приручили</p></b>
          </blockquote>
          <figcaption class="blockquote-footer">
            Антуан де Сент-Экзюпери
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

</section>
{% endblock %}