{% extends 'base.html' %}
{% load static %}
{% block title %} {{article.name}} {% endblock %}
{% block content %} 

<section class="align-items-center">
  <div class="container align-items-center text-center">
      {% if article.upload %}
    {{article.image}}
    {% endif %}
  </div>

</section>

<section>
  <div class="container">
  <div class="row align-items-center">
    <div class="col-12 main-color text-center">
      <h2>{{article.name}}</h2>
    </div>
    <section></section>
      <div class="col-12 colorText align-items-center">
        <p>{{article.text|safe}}</p>
      </div>
  </div>
</div>
</section>

{% endblock %}