{% extends 'base.html' %}
{% load static %}
{% block title %} Сменить пароль {% endblock %}
{% block content %} 


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto col-lg-5">
        <form method="post" class="p-4 p-md-5 border rounded-3 bg-light">
          {% csrf_token %}

          {% for field in form %}

          {% for error in field.errors %}
          <div class="alert alert-danger">
            <i>{{ error }}</i>
          </div>
          {% endfor %}

            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
          <p class="help"><i>{{field.help_text}}</i></p>
            {% endif %}
          </br>
          {% endfor %}
          <input type="submit" value="Подтвердить" class = "btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}