<div class="card" style="width: 18rem;">
    {% with request.resolver_match.view_name as view_name %}
    {% if article.main_image %}
    {{article.main_image.image_tmb}}
    {% else %}
    {% load static %}
    <img src="{% static 'img/favicon/android-chrome-512x512.png' %}" alt="фото">
    <h6 class="text-center colorText" style="font-style:italic">(Изображение отсутствует)</h6>
    {% endif %}
    <div class="card-body">
        <h4 class="card-title">{{article.name}}</h4>
        <p class="card-text">
            {{ article.description|safe }}
        </p>
        <a href="{% url 'articles:article' pk=article.id %}" class="btn btn-primary">Читать</a>
    </div>
    {% endwith %}
</div>
